{%- comment -%}
Include as: {%- include head.html -%}
Depends on: site.ga_tracking, site.ga_tracking_anonymize_ip,
site.search_enabled, site.static_files, site.favicon_ico.
Results in: HTML for the head element.
Includes:
css/activation.scss.liquid, head_custom.html.
Overwrites:
ga_tracking_ids, ga_property, file, favicon.
Should not be cached, because included files depend on page.
{%- endcomment -%}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include_cached favicon.html %}

  <link id="main-css" rel="stylesheet" href="{{ '/assets/css/just-the-docs-light.css' | relative_url }}">
  <script async src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>
  <script async src="{{ '/assets/js/lazysizes.min.js' | relative_url }}"></script>

  {% seo %}
</head>
